# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

config:
  version-candidate: VERSION
  dependencies:
    dependencies: [build]
    typedb-driver: [build, release]

build:
  quality:
    filter:
      owner: typedb
      branch: [master, development, "3.0"]
    dependency-analysis:
      image: typedb-ubuntu-22.04
      command: |
        bazel run @typedb_dependencies//factory/analysis:dependency-analysis
  correctness:
    build:
      image: typedb-ubuntu-22.04
      type: foreground
      command: |
        export ARTIFACT_USERNAME=$REPO_TYPEDB_USERNAME
        export ARTIFACT_PASSWORD=$REPO_TYPEDB_PASSWORD
        bazel run @typedb_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @typedb_dependencies//distribution/artifact:create-netrc
        bazel build //...
        bazel run @typedb_dependencies//tool/checkstyle:test-coverage
        bazel test $(bazel query 'kind(checkstyle_test, //...)') --test_output=errors
    build-dependency:
      image: typedb-ubuntu-22.04
      command: |
        bazel run @typedb_dependencies//tool/bazelinstall:remote_cache_setup.sh
        dependencies/maven/update.sh
        git diff --exit-code dependencies/maven/artifacts.snapshot
#    TODO: Cannot be run without a running 3.0 server
#    test-assembly:
#      image: typedb-ubuntu-22.04
#      type: foreground
#      command: |
#        bazel run @typedb_dependencies//tool/bazelinstall:remote_cache_setup.sh
#        bazel test //test/assembly:test-assembly-native --test_output=streamed
    deploy-runner-maven-snapshot:
      filter:
        owner: typedb
        branch: [master, development, "3.0"]
      image: typedb-ubuntu-22.04
      dependencies: [build]
      command: |
        export DEPLOY_MAVEN_USERNAME=$REPO_TYPEDB_USERNAME
        export DEPLOY_MAVEN_PASSWORD=$REPO_TYPEDB_PASSWORD
        bazel run --define version=$(git rev-parse HEAD) //tool/runner:deploy-maven -- snapshot
    sync-dependencies:
      image: typedb-ubuntu-22.04
      filter:
        owner: typedb
        branch: [master, development]
        # TODO: Uncomment when active
#      dependencies: [test-assembly]
      command: |
          export SYNC_DEPENDENCIES_TOKEN=$REPO_GITHUB_TOKEN
          bazel run @typedb_dependencies//tool/sync:dependencies -- --source ${FACTORY_REPO}@${FACTORY_COMMIT}

release:
  filter:
    owner: typedb
    branch: [master, "3.0"]
  validation:
    validate-dependencies:
      image: typedb-ubuntu-22.04
      type: foreground
      command: |
        export ARTIFACT_USERNAME=$REPO_TYPEDB_USERNAME
        export ARTIFACT_PASSWORD=$REPO_TYPEDB_PASSWORD
        bazel run @typedb_dependencies//distribution/artifact:create-netrc
        bazel test //:release-validate-deps  --test_output=streamed
    validate-release-notes:
      image: typedb-ubuntu-22.04
      command: |
        export NOTES_VALIDATE_TOKEN=$REPO_GITHUB_TOKEN
        bazel run @typedb_dependencies//tool/release/notes:validate --test_output=streamed -- $FACTORY_OWNER $FACTORY_REPO ./RELEASE_NOTES_LATEST.md
  deployment:
    trigger-release-circleci:
      image: typedb-ubuntu-22.04
      command: |
        git checkout -b release
        git push -f origin release
        echo "Successfully pushed branch 'release', which triggers a release workflow in CircleCI. The progress of the release can be tracked there."
    deploy-runner-maven-release:
      filter:
        owner: typedb
        branch: [master, 3.0]
      image: typedb-ubuntu-22.04
      command: |
        export DEPLOY_MAVEN_USERNAME=$REPO_TYPEDB_USERNAME
        export DEPLOY_MAVEN_PASSWORD=$REPO_TYPEDB_PASSWORD
        bazel run --define version=$(cat VERSION) //tool/runner:deploy-maven -- release
